@model InteractiveTechnologies.Models.WhatsNew
@using InteractiveTechnologies.HTMLHelpers


<div>
    <h4>Whats New</h4>
    <hr />

    <div class="MemberPage">
        <h1 class="h1">@Model.HeaderText</h1>


        @if (Model.DisplayDate == true)
        {
            <h4 class="h4">@Model.Date.ToShortDateString()</h4>
        }
        else
        { <br />}

        <hr />

        @if (Model.ImageID != null && Model.Image.ImageSrc != null)
        {
          
            <a class="image-popup-no-margins" href="@Url.Content("~/Content/Images/DB_Images/" + Model.Image.ImageSrc)">
                <img src="@Url.Content("~/Content/Images/DB_Images/" + Model.Image.ImageSrc)" alt="@Model.Image.ImageAlt" class="smallerimage" />
            </a>
    
        }
        else
        {

            <br />
        }

        <p>@Html.DisplayFormattedData(Model.BodyText)</p>





    </div>
    <p>
        @if (User.IsInRole("Admin"))
        {
            @Html.ActionLink("Back to List", "Index") @:|
            @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) 
}
    </p>

</div>


<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link href="~/Content/Scripts/jquery-ui.min.css" rel="stylesheet" />
<script src="~/Content/Scripts/jquery.magnific-popup.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        $('.image-popup-vertical-fit').magnificPopup({
            type: 'image',
            closeOnContentClick: true,
            mainClass: 'mfp-img-mobile',
            image: {
                verticalFit: true
            }

        });

        $('.image-popup-fit-width').magnificPopup({
            type: 'image',
            closeOnContentClick: true,
            image: {
                verticalFit: false
            }
        });

        $('.image-popup-no-margins').magnificPopup({
            type: 'image',
            closeOnContentClick: true,
            closeBtnInside: false,
            fixedContentPos: true,
            mainClass: 'mfp-no-margins mfp-with-zoom', // class to remove default margin from left and right side
            image: {
                verticalFit: true
            },
            zoom: {
                enabled: true,
                duration: 300 // don't foget to change the duration also in CSS
            }
        });

    });
</script>






