@model IEnumerable<InteractiveTechnologies.Models.WhatsNew>

@{
    ViewBag.Title = "IndexList";
}

@if (User.IsInRole("Admin"))
{
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <br />
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HeaderText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DisplayDate)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.BodyText)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Display)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image.ImageName)
        </th>
        <th></th>
    </tr>
    </thead>
@foreach (var item in Model)
{
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HeaderText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisplayDate)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.BodyText)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Display)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image.ImageName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    </tbody>
}
        
</table>
}

else
{
    <p>You don't have permission to view this page</p>
}