@model IEnumerable<InteractiveTechnologies.Models.Product>
@using InteractiveTechnologies.Models
@{

    InteractiveTechEntities db = new InteractiveTechEntities();
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@if (Request.IsAuthenticated && User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}



<div class="Row">
    @foreach (var item in Model)
    {
        if (item.DisplayProduct == true)
        {
            <div class="col-sm-4">
                <div class="product-item">
                    <div class="product-img-contain"> <img src="@Url.Content("~/Content/Images/DB_Images/" + item.Image.ImageSrc)" alt="@item.ProductName" class="thumbnail product-img" /></div>
                    <h3 class="h3 title"> <a href="~/Products/Details/@item.ProductID">@Html.DisplayFor(modelItem => item.ProductName)</a></h3>
                    @*<h3 class="h3">  @Html.DisplayFor(modelItem => item.Price) </h3>*@



                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <p>
                            Category Name:
                            @Html.DisplayFor(modelItem => item.Category.CategoryName)
                        </p>
                        <p>
                            Display Product?:
                            @Html.DisplayFor(modelItem => item.DisplayProduct)
                        </p>
                        <p>
                            Product Order:
                            @Html.DisplayFor(modelItem => item.ProductOrder)
                        </p>





                        @Html.ActionLink("Edit", "Edit", new { id = item.ProductID }) @:|
                        @Html.ActionLink("Delete", "Delete", new { id = item.ProductID })
                    }

                 @*Html.ActionLink("Details", "Details", new { id = item.ProductID }*@



                </div>
            </div>
        }




    }
</div>