@model InteractiveTechnologies.Models.MembersPage

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
        <h1 class="h1">@Model.PageTitle</h1>
       
    
    @if (Model.DisplayDate == true)
    {
        <h4 class="h4">@Model.DateCreated.ToShortDateString()</h4>
    }
    else { <br />}

    <hr />
    @if (Model.ImageID != null && Model.Image.ImageSrc != null)
    {

               <img src="@Url.Content("~/Content/Images/DB_Images/" + Model.Image.ImageSrc)" alt="@Model.Image.ImageAlt" class="thumbnail product-img" />

    }
    else
    {

        <br />
    }

      <p>@Model.BodyText</p>




   
</div>
<p>
    @if (User.IsInRole("Admin"))
    {
    @Html.ActionLink("Back to List", "Index")
    }
</p>
