@model IEnumerable<InteractiveTechnologies.Models.Image>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create1")
</p>

<div class="row">

    @foreach (var item in Model)
    {<div class="col-md-3">


    <img src="@Url.Content("~/Content/Images/DB_Images/" + item.ImageSrc)" style="height:350px; width:90%; object-fit:scale-down;" />

    <p>Name: @Html.DisplayFor(modelItem => item.ImageName)</p>

    <p>Description: @Html.DisplayFor(modelItem => item.Description)</p>

    <p>Alt: @Html.DisplayFor(modelItem => item.ImageAlt)</p>



    @Html.ActionLink("Edit", "Edit", new { id = item.ImageID }) |
    @Html.ActionLink("Details", "Details", new { id = item.ImageID }) |
    @Html.ActionLink("Delete", "Delete", new { id = item.ImageID })

</div>
            }
   
    </div>
