@using InteractiveTechnologies.Models;

@{
    InteractiveTechEntities db = new InteractiveTechEntities();
}



<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Interactive Technologies</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.css" />
    <link href="~/Content/CSS/magnific-popup.css" rel="stylesheet" />
    <link href="~/Content/Scripts/jquery-ui.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar">
        <div class="container head-contain">


            <div class="shop-menu pull-right">
                <ul class="navbar-nav">
                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                        @Html.AntiForgeryToken()

                        <!-- Unauthenticated -->
                        if (!Request.IsAuthenticated)
                        {
                            <li><a href="/Account/Register"><i class="fa fa-user"></i>Register</a></li>
                            <li><a href="/Account/Login"><i class="fa fa-lock"></i> Login</a></li>
                        }

                        <!-- Authenticated -->
                        if (Request.IsAuthenticated)
                        {
                            <li style="padding:0 2px"><a href="/Manage/Index"><i class="fa fa-user"></i> @User.Identity.Name</a></li>


                            <li style="padding:0 2px"><a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-lock"></i>Logout</a></li>
                        }



                    }
                </ul>
            </div>

            <a href="@Url.Action("Index", "Home")">
                <img src="~/Content/Images/iti_logo.jpg" alt="Interactive Technologies Inc." height="110" class="head-img " />
            </a>

            <div class="col-sm-8">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle pull-right" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

            </div>





            <div class=" navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Products", "Index", "Products")</li>
                    <li>@Html.ActionLink("Applications", "Applications", "Home")</li>                                     
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("What's New", "Index", "WhatsNews")</li>
                   


                    @if (Request.IsAuthenticated)
                    {
                        Html.RenderAction("GetMenuForUser", "Navigation");
                    }

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="col-xs-12">
            <p>&copy; @DateTime.Now.Year - Interactive Technologies</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/Content/Scripts/responsiveslides.js"></script>

    <script type="text/javascript">
        $(function () {
            $(".rslides").responsiveSlides({
                auto: true,
                timeout: 3000,
                speed: 500,
                pause: false,
                maxwidth: "800",
            });

        });
    </script>
    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
    {
        <div id="adminLink" onclick="openNav()" class="button">
            <span class="vertical-text">
                ADMIN
            </span>
        </div>

    }
        <div id="adminSideNav" class="sideNav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            @if (Request.IsAuthenticated && User.IsInRole("Admin"))
            {

                @Html.ActionLink("Roles", "Index", "RolesAdmin")
                @Html.ActionLink("Users", "Index", "UsersAdmin")
                @Html.ActionLink("Images", "Index", "Images")
                @Html.ActionLink("Products", "Index", "Products")
                @Html.ActionLink("Categories", "Index", "Categories")
                @Html.ActionLink("Member Pages", "Index", "MembersPages")
                @Html.ActionLink("What's New", "IndexList", "WhatsNews")
                @Html.ActionLink("Slideshow", "Index", "Slideshow")
            }

        </div>


    <script type="text/javascript">
        function openNav() {
            //Expand navigation menu
            document.getElementById('adminSideNav').style.width = "250px";
            //hide admin button
            document.getElementById('adminLink').style.display = "none";
        }

        function closeNav() {
            document.getElementById('adminSideNav').style.width = "0";
            document.getElementById('adminLink').style.display = "block";
        }
    </script>



    <script type="text/javascript">
        $(document).ready(function () {
            $('.table').DataTable({
                "order": [[2, "desc"]]
            });
        });
    </script>





    <script src="~/Content/Scripts/jquery.magnific-popup.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>


    @RenderSection("scripts", required: false)
    <!--jQuery BASE library-->



</body>
</html>
